@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/typography" as typography;

.button {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  background: transparent;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.4s;
}

.primary {
  border-color: colors.$primary;
  background: colors.$primary;
  color: colors.$text;
  &:hover {
    background: #{colors.$primary}#{"80"};
    border-color: #{colors.$primary}#{"80"};
  }
}

.secondary {
  border-color: colors.$primary;
  background: #{colors.$primary}#{"30"};
  color: colors.$primary;
  backdrop-filter: blur(5px);
  &:hover {
    background: #{colors.$primary}#{"80"};
    color: white;
  }
}
