@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/breakpoints" as breakpoints;

.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  // transition: 0.5s;
  &__container {
    width: 100%;
    height: 7rem;
    @include utilities.flexbox-params(flex, center, space-between);
    @include breakpoints.xl-large {
      height: 6rem;
    }
    @include breakpoints.medium {
      height: 7rem;
      @include utilities.grid-params(grid, 1fr 0.9fr 0.1fr, auto, auto);
    }
  }
  &__links {
    list-style: none;
    padding: 0;
    @include utilities.flexbox-params(flex, center, auto);
    gap: 1.5rem;
    @include breakpoints.medium {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      top: 1000;
      background: colors.$secondary;
      @include utilities.flexbox-params(flex, center, center);
      flex-direction: column;
      gap: 2rem;
      transition: 1s;
      // margin-top: 7rem;
    }
    & a {
      color: colors.$text;
      cursor: pointer;
      transition: 0.4s;
      font-family: typography.$secondary10;
      &:hover {
        color: colors.$primary;
      }
      @include breakpoints.medium {
        font-size: 45px;
        font-weight: bold;
      }
    }
  }
  &__profile {
    @include breakpoints.medium {
      @include utilities.flexbox-params(flex, auto, flex-end);
    }
    & > div {
      width: auto;
    }
  }
  &__menuicon {
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      color: colors.$primary;
    }
    @include breakpoints.medium {
      margin-left: 2rem;
      // color: #000000ce;
    }
  }
}

:export {
  headerBg: colors.$secondary;
  headerBgGradient: #{colors.$secondary}#{"ce"};
}
