@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/breakpoints" as breakpoints;

.header {
  width: 100%;
  position: absolute;
  z-index: 1000;
  transition: 0.2s;
  &__container {
    width: 100%;
    height: 5rem;
    @include utilities.flexbox-params(flex, center, space-between);
    @include breakpoints.medium {
      @include utilities.grid-params(grid, 0.4fr 1.5fr 0.1fr, auto, auto);
    }
  }
  &__links {
    list-style: none;
    padding: 0;
    text-transform: capitalize;
    & > div {
      @include utilities.flexbox-params(flex, center, auto);
      gap: 2rem;
    }
    @include breakpoints.medium {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      background: colors.$secondary;
      transition: 1s;
      @include utilities.flexbox-params(flex, center, center);
      & > div {
        width: 100%;
        flex-direction: column;
        margin-bottom: 50%;
      }
    }
    & a {
      color: colors.$text;
      cursor: pointer;
      transition: 0.4s;
      font-family: typography.$secondary10;
      @media (hover: hover) {
        &:hover {
          color: colors.$primary;
        }
      }
      &:active {
        color: #{colors.$primary}#{"30"};
      }
      @include breakpoints.medium {
        font-size: 45px;
        font-weight: bold;
      }
    }
  }
  &__profile {
    @include breakpoints.medium {
      @include utilities.flexbox-params(flex, auto, flex-end);
    }
    & > div {
      width: auto;
    }
  }
  &__session {
    cursor: pointer;
    @include utilities.flexbox-params(flex, center, center);
    gap: 0.5rem;
    &Img {
      width: 2.5rem;
      height: 2.5rem;
      position: relative;
      overflow: hidden;
      @include breakpoints.medium {
        width: 2rem;
        height: 2rem;
      }
      & > img {
        width: 100%;
        border-radius: 50%;
        border: 2px solid colors.$primary;
      }
    }
    &Main {
      @include breakpoints.x-small {
        display: none;
      }
      & > h6 {
        font-size: 14px;
        @include breakpoints.medium {
          font-size: 11px;
        }
      }
      & > P {
        font-size: 12px;
        @include breakpoints.medium {
          font-size: 9px;
        }
      }
    }
  }
  &__menuicon {
    transition: 0.4s;
    cursor: pointer;
    @media (hover: hover) {
      &:hover {
        color: colors.$primary;
      }
    }
    &:active {
      color: #{colors.$primary}#{"30"};
    }
    @include breakpoints.medium {
      margin-left: 2rem;
    }
    @include breakpoints.small {
      margin-left: 1rem;
    }
  }
}

:export {
  headerBg: colors.$secondary;
  headerBgGradient: #{colors.$secondary}#{"ce"};
}
