@use "/src/styles/base/colors" as colors;

.gradient {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
  }
}

.linear {
  &:before {
    background: linear-gradient(
      #{colors.$secondary}#{"f3"},
      #{colors.$secondary}#{"30"},
      #{colors.$secondary}#{"f3"}
    );
  }
}

.radial {
  &:before {
    background: radial-gradient(
      circle,
      #{colors.$secondary}#{"2a"} 0%,
      colors.$secondary 75%
    );
  }
}
