@use "/src/styles/base/colors" as colors;

.gradient {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: radial-gradient(
      circle,
      #{colors.$secondary}#{"2a"} 0%,
      colors.$secondary 70%
    );
  }
}
