@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;

.modal {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  background: #{colors.$secondary}#{"cb"};
  @include utilities.flexbox-params(flex, center, center);
  &__container {
    position: relative;
    width: 80vw;
    height: auto;
    min-height: 15rem;
    background: #{colors.$tertiary}#{"cb"};
    backdrop-filter: blur(2px);
    border-radius: 12px;
    overflow-y: auto;
    @include utilities.flexbox-params(flex, center, auto);
    flex-direction: column;
    padding: 3% 1.5%;
    & > h3 {
      font-size: 25px;
      font-family: typography.$primary;
    }
  }
  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: 0.4s;
    cursor: pointer;
    @media (hover: hover) {
      &:hover {
        color: colors.$secondary;
      }
    }
  }
  &__content {
    width: 100%;
  }
}
.modal__container::-webkit-scrollbar {
  width: 5px;
}
.modal__container::-webkit-scrollbar-track {
  background: transparent;
}
.modal__container::-webkit-scrollbar-thumb {
  background-color: colors.$primary;
  border-radius: 10px;
}
.modal__container::-webkit-scrollbar-button {
  display: none;
}
