$screen-xs: 395px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;

// X-small devices 395 (Mobile - xs)
@mixin min-x-small {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}
@mixin x-small {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

// Small devices 640 (Mobile - sm)
@mixin min-small {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}
@mixin small {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

// Medium devices 768 (Tablet - md)
@mixin min-medium {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}
@mixin medium {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

// Large devices 1024 (tablet, Laptop - lg)
@mixin min-large {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}
@mixin large {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

// Large devices 1280 (tablet, laptop, Desktop - xl)
@mixin min-xl-large {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}
@mixin xl-large {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

// Large devices 1536 (Desktop - xxl)
@mixin min-xxl-large {
  @media (min-width: #{$screen-xxl}) {
    @content;
  }
}
@mixin xxl-large {
  @media (max-width: #{$screen-xxl}) {
    @content;
  }
}
