@use "./colors" as colors;
@use "./typography" as typography;

*,
html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: colors.$secondary;
  font-size: 1rem;
  color: colors.$text;
  font-family: typography.$secondary20;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

// CUSTOM-SCROLLBAR
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: colors.$secondary;
}
body::-webkit-scrollbar-thumb {
  background-color: colors.$primary;
  border-radius: 10px;
}
body::-webkit-scrollbar-button {
  display: none;
}
